<%= render 'shared/header' %>





<div class="form">
  <div class="form-title">
    新規メッセージ作成
  </div>
  <div class="form-main">
    <%= form_with model: @message, local: true do |f| %>
    <div class="container">
      <%= f.label "メッセージ" %><br />
      <%= f.text_area :content, class:"content", placeholder:"野球に関しての自身の意見、主張などを自由に記入してください。また、アドバイスが欲しいこと、他の人の意見をもらいたいことなどの質問を記入してもらって構いません。最近自分が取り組んでいることを記入してアウトプットの場として使っていただいて構いません。自由に記述してください。" %>
    </div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class="container">
      <%= f.submit "作成する" ,class:"btn" %>
    </div>
    <% end %>
  </div>
</div>




<h1>メッセージ</h1>



<%# f.collection_select(:generation_id, Generation.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>


  




<%= render 'shared/footer' %>