<%= render 'shared/header' %>

<div class="message-contents">
  <ul class="message-lists">
    <li class="list">
      <div class="list-top">
        <div class="list-tag">
          <div>ユーザー名：</div>
          <%= link_to user_path(@message.user.id) do %>
            <div><%= @message.user.nickname %></div>
          <% end %>
        </div>
        <div class="list-tag">
          <div>日時：</div>
          <div><%= @message.created_at %></div>
        </div>
      </div>
      <div class="list-content">
        <%= link_to message_path(@message.id) do %>
          <%= @message.content %>
        <% end %>
      </div>
      <div class="list-buttom">
        <div class="list-tag">
          <div>世代：</div>
          <div><%= @message.generation.name %></div>
        </div>
        <div class="list-tag">
          <div>ジャンル：</div>
          <div><%= @message.genre.name %></div>
        </div>
        <div class="list-tag">
          <div>体の部位：</div>
          <div><%= @message.body_parts.name %></div>
        </div>
        <div class="list-tag">
          <div>メッセージカテゴリー：</div>
          <div><%= @message.category.name %></div>
        </div>
      </div>
    </li>
  </ul>
</div>

<%= render 'shared/footer' %>