<%= render 'shared/header' %>

<div class="registration-main">

  <h1>新規登録</h1>

  <%= form_with model: @user, url: user_registration_path, class: 'form-content', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label "ニックネーム" %>
      <%= f.text_area :nickname, placeholder:"例) 太郎", maxlength:"40" %>
    </div>

    <div class="field">
      <%= f.label "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label "パスワード（確認用）" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>

  <% end %>

</div>

<%= render 'shared/footer' %>