<div class="user-title">新規登録</div>

<div class="user-contents">

  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <div class="user-box">
    <%= render "devise/shared/error_messages", model: f.object %>

    <div class="user-info">
      <%= f.label "ニックネーム" %><br />
      <%= f.text_area :nickname, placeholder:"例) 太郎", maxlength:"40", class: "user-info-input" %>
    </div>

    <div class="user-info">
      <%= f.label "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-info-input" %>
    </div>

    <div class="user-info">
      <%= f.label "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "user-info-input" %>
    </div>

    <div class="user-info">
      <%= f.label "パスワード（確認用）" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user-info-input" %>
    </div>
  </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "user-btn" %>
    </div>

  <% end %>

</div>