<%= render 'shared/header' %>

<div class="message-title">メッセージ詳細</div>

<div class="message-contents">
  <div class="message-box">
    <div class="message-top">
      <%= link_to message_comments_path(@message.id), class: "message-show" do %>
        <%= @message.content %>
      <% end %>
    </div>
    <div class="message-middle">
      <div>
        ユーザー名：
        <%= link_to user_path(@message.user.id) do %>
          <%= @message.user.nickname %>
        <% end %>
      </div>
      <div>日時：<%= @message.created_at %></div>
    </div>
    <div class="message-buttom">
      <div>世代：<%= @message.generation.name %></div>        
      <div>ジャンル：<%= @message.genre.name %></div>
      <div>体の部位：<%= @message.body_parts.name %></div>
      <div>メッセージカテゴリー：<%= @message.category.name %></div>
    </div>
  </div>
</div>

<div class="comment-form">
    <div class="comment-form-title">このメッセージに対するコメントを編集する</div>
    <%= form_with model: [@message, @comment], local: true do |f| %>
      <%= render "shared/error_messages", model: f.object %>
      <div><%= f.text_area :comment, class:"comment-form-input", placeholder:"メッセージに対するコメントを記入してください" %></div>
      <div><%= f.submit "上記の内容でコメントを更新する" ,class:"comment-btn" %></div>
    <% end %>
  </div>

  <%= render 'shared/footer' %>