<%= render 'shared/header' %>

<div class="message-contents">
  <div class="message-box">
    <div class="message-top">
      <%= link_to message_comments_path(@message.id), class: "message-show" do %>
        <%= @message.content %>
      <% end %>
    </div>
    <div class="message-middle">
      <div>
        ユーザー名：
        <%= link_to user_path(@message.user.id) do %>
          <%= @message.user.nickname %>
        <% end %>
      </div>
      <div>日時：<%= @message.created_at %></div>
    </div>
    <div class="message-buttom">
      <div>世代：<%= @message.generation.name %></div>        
      <div>ジャンル：<%= @message.genre.name %></div>
      <div>体の部位：<%= @message.body_parts.name %></div>
      <div>メッセージカテゴリー：<%= @message.category.name %></div>
    </div>
  </div>
</div>

<div class="edit-destroy">
  <% if user_signed_in? && @message.user_id == current_user.id %>
    <%= link_to 'この投稿を編集', edit_message_path(@message.id), class: "btn" %>
    <%= link_to 'この投稿を削除する', message_path(@message.id), method: :delete, class: "btn" %>
  <% end %>
</div>


<div>この投稿に対するコメント一覧</div>

<div class="comment-contents">
  <div class="comment-box">
    <div class="comment-top">
      コメントしましたコメントしましたコメントしましたコメントしましたコメントしましたコメントしましたコメントしましたコメントしましたコメントしましたコメントしました
    </div>
    <div class="comment-bottom">
      <div class="comment-user">ユーザー名：野球大輔</div>
      <div class="comment-date">日時：２０２０１０９０</div>
    </div>
  </div>
</div>


<% if user_signed_in? %>
  <div>この投稿に対するコメントを作成する</div>
  <%= form_with model: [@message, @comment], local: true do |f| %>
    <%= f.text_area :comment, class:"comment", placeholder:"投稿に対するコメントを記入してください" %>
  <% end %>
<% end %>

<%= render 'shared/footer' %>