<%= render 'shared/header' %>

<div class="header-margin"></div>

<div class="message-title">メッセージ詳細</div>

<div class="message-contents">
  <div class="message-box">
    <div class="message-top">
      <%= link_to message_comments_path(@message.id), class: "message-show" do %>
        <%= @message.content %>
      <% end %>
    </div>
    <div class="message-middle">
      <div>
        ユーザー名：
        <%= link_to user_path(@message.user.id) do %>
          <%= @message.user.nickname %>
        <% end %>
      </div>
      <div>日時：<%= @message.created_at %></div>
    </div>
    <div class="message-buttom">

    <%# いいねボタンのコード %>
      <div class="good">
        <% if user_signed_in? %>
          <% if helpful_message = HelpfulMessage.find_by(user_id: current_user.id, message_id: @message.id) %>
            <%= link_to message_helpful_message_path(@message.id, helpful_message.id), method: :delete do %>
              <span class="fa far fa-thumbs-up ungood-btn"></span>
            <% end %>
          <% else %>
            <%= link_to message_helpful_messages_path(@message.id), method: :post do %>
              <span class="fa far fa-thumbs-up good-btn"></span>
            <% end %>
          <% end %>
        <% else %>
          <div class="fa far fa-thumbs-up ungood-btn"></div>
        <% end %>
        <div><%= HelpfulMessage.where(message_id: @message.id).count %></div>
      </div>

      <div>世代：<%= @message.generation.name %></div>        
      <div>ジャンル：<%= @message.genre.name %></div>
      <div>体の部位：<%= @message.body_parts.name %></div>
      <div>メッセージカテゴリー：<%= @message.category.name %></div>
    </div>
  </div>
</div>

<div class="message-edit-destroy">
  <% if user_signed_in? && @message.user_id == current_user.id %>
    <%= link_to 'このメッセージを編集', edit_message_path(@message.id), class: "message-btn" %>
    <%= link_to 'このメッセージを削除する', message_path(@message.id), method: :delete, class: "message-btn" %>
  <% end %>
</div>


<div class="comment-title">このメッセージに対するコメント一覧</div>

<div class="comment-contents">
  <% @comments.each do |comment| %>
  <div class="comment-box">
    <div class="comment-top">
      <%= comment.comment %>
    </div>
    <div class="comment-bottom">
      <div class="comment-user">
        ユーザー名：
        <%= link_to user_path(comment.user.id) do %>
          <%= comment.user.nickname %>
        <% end %>
      </div>
      <div class="comment-date">日時：<%= comment.created_at %></div>
    </div>

    <% if user_signed_in? && comment.user_id == current_user.id %>
      <div class="comment-edit-destroy">
        <%= link_to 'このコメントを編集', edit_message_comment_path(@message.id, comment.id), class: "comment-edit-btn" %>
        <%= link_to 'このコメントを削除する', message_comment_path(@message.id, comment.id), method: :delete, class: "comment-edit-btn" %>
      </div>
    <% end %>

  </div>
  <% end %>
</div>


<% if user_signed_in? %>
  <div class="comment-form">
    <div class="comment-form-title">このメッセージに対するコメントを作成する</div>
    <%= form_with model: [@message, @comment], local: true do |f| %>
      <%= render "shared/error_messages", model: f.object %>
      <div class="comment-form-comment">
        <%= f.text_area :comment, class:"comment-form-input", placeholder:"メッセージに対するコメントを記入してください" %>
      </div><br>
      <div>
        <%= f.submit "上記の内容でコメントを作成する" ,class:"comment-btn" %>
      </div><br>
    <% end %>
  </div>
<% end %>

<%= render 'shared/footer' %>