<%= render 'shared/header' %>

<div class="registration-main">

  <h1><%= current_user.nickname %>のユーザー情報の編集</h1>

  <%= form_with model: current_user, class: 'form-content', local: true do |f| %>
  <%# エラー文を表示できないため断念 %>
    <%# <%= render "devise/shared/error_messages", model: f.object %> 

    <div class="field">
      <%= f.label "ニックネーム" %><br />
      <%= f.text_area :nickname, placeholder:"例) 太郎", maxlength:"40" %>
    </div>

    <div class="field">
      <%= f.label "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "編集内容を更新する", class: "btn" %>
    </div>

  <% end %>

</div>

<%= render 'shared/footer' %>