<%= render 'shared/header' %>

<div class="registration-main">
  <h1><%= @user.nickname %>のユーザーページ</h1>
  <div class="form-content">
    <% if user_signed_in? && @user.id == current_user.id %>
      <div class="field">
        <p>ニックネーム</p><br />
        <%= @user.nickname %>
      </div>
      <div class="field">
        <p>メールアドレス</p><br />
        <%= @user.email %>
      </div>
      <%= link_to '編集', edit_user_registration_path, class: "btn" %>
      <%= link_to '退会する', user_path(@user.id), method: :delete, class: "btn" %>
    <% end %>
  </div>
</div>

<div class="message-title"><%= @user.nickname %>のメッセージ一覧</div>

<div class="message-contents">
  <% @messages.each do |message| %>
  <div class="message-box">
    <div class="message-top">
      <%= link_to message_comments_path(message.id), class: "message-show" do %>
        <%= message.content %>
      <% end %>
    </div>
    <div class="message-middle">
      <div>
        ユーザー名：
        <%= link_to user_path(message.user.id) do %>
          <%= message.user.nickname %>
        <% end %>
      </div>
      <div>日時：<%= message.created_at %></div>
    </div>
    <div class="message-buttom">
      <div>世代：<%= message.generation.name %></div>        
      <div>ジャンル：<%= message.genre.name %></div>
      <div>体の部位：<%= message.body_parts.name %></div>
      <div>メッセージカテゴリー：<%= message.category.name %></div>
    </div>
  </div>
  <% end %>
</div>

<%= render 'shared/footer' %>