<%= render 'shared/header' %>

<div class="registration-main">
  <h1><%= @user.nickname %>のユーザーページ</h1>
  <div class="form-content">

  <% if user_signed_in? && @user.id == current_user.id %>
    <div class="field">
      <p>ニックネーム</p><br />
      <%= @user.nickname %>
    </div>
    <div class="field">
      <p>メールアドレス</p><br />
      <%= @user.email %>
    </div>
  <% end %>

  </div>
</div>

<%= render 'shared/footer' %>