<header>
  <div class="header-left">
    <h1>baseball-info</h1>
    <%= link_to 'トップページ', root_path, class: "btn" %>
    <%= link_to 'アプリについて', '#', class: "btn" %>
    <%= link_to 'ユーザー一覧', users_path, class: "btn" %>
  </div>
  <div class="header-right">
  <% if user_signed_in? %>
    <%= link_to current_user.nickname, user_path(current_user.id), class: "btn" %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn" %>
    <%= link_to '新規作成', new_message_path, class: "btn" %>
  <% else %>
    <%= link_to 'ログイン', new_user_session_path, class: "btn" %>
    <%= link_to '新規登録', new_user_registration_path, class: "btn" %>
  <% end %>  
  </div>
</header>